<!DOCTYPE html>
<html>
    <head>
      <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
      <link rel='stylesheet' href='/css/style.css' />
    </head>
<body>

<input type="text" class="text">
<div class="btn" onclick="search()"></div>
  <div class="container">
    <% if(data){
      
        for(var i = 0;i < Object.keys(data).length;i++){ %>

            
            <div class="post-item" id="medium">

              <div class="shadow">
                <a href="www.facebook.com">
                  <div class="parent">
                    <div class="child text">
                      <h2>Röven</h2>
                      <p>Umeå</p>
                    </div>

                  </div>
                </a>
              </div>

              <img src="plats.jpg">
              <div class="post-thumbnail">
                <div class="post-image" style="background-image: url(bild.jpg);"></div>
              </div>
            </div>
        <%}
      }else{ %>
      <div class="about-container middleTop">
        <div class="text middleUnder">
          
          <h2>Sorry no data!!</h2>
    
        </div>
      </div>
      <% } %>
    </div>
</body>
</html>
